* {
    font-family: sans-serif;
    margin-bottom: 0;
}
body {
    margin: 0;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
    width: 100vw;
    overflow-x: hidden;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
header figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
}
header figure a #logo-size{
    height: 100px;
    width: auto;
    margin-bottom: 0;
}
.search {
    margin-bottom: 2%;
}
.search input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(209, 209, 209);
}
#recipes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-menu {
    width: 30%;
    height: 410px;
    margin-bottom: 10%;
}
.card-menu .card-body {
    height: 50%;
    background-color: rgb(237, 243, 241);
}
.card-menu .card-body .card-title h1 {
    font-size: 1.2rem;
}
.bold {
    font-weight: bold;
}
.fs-14 {
    font-size: 1.4rem;
}
.card-title {
    display: flex;
    height: 20%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0;
}
.recipe-info-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    font-size: 0.8rem;
    justify-content: space-between;
}
.ingredients-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.info-ingredient {
    display: flex;
    flex-direction: row;
}
.instructions {
    width: 40%;
    height: 100%;
}
.instructions span {
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 7;
   overflow: hidden;
}
.section-drop {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}
.bloc-dropdown {
    display: inline-block;
    max-width: 15%;
    margin-right: 20px;
}
.changeWidth {
    max-width: none !important;
}

.input-cont {
    fill: none;
    background: transparent;
    border: none;
    padding: .375rem .75rem;
    width: 90%;
    
}
.input-cont::placeholder {
    color: #fff;
}
.input-cont[value] {
    color: #fff;
}
.content-drop{
    display: flex;
    width: 100%;
    padding-right: 10px;
    background-color: green;
    border-radius: 5px;
}
.input-dropdown {
    display: inline-block;
}
.fa-sort-down {
    font-size: 1.4rem;
    color: white;
}
.bouton-down {
    position: relative;
    width: 30vw;
    background-color: green;
    top: -5px;
}

.on {
    font-size: 1.4rem;
    transform: rotate(180deg);
}
.input-cont{
    float: left;
}
.dropdown-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: .25rem .5rem !important;
}
.dropdown-cont li{
    list-style: none;
    width: 30%;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.dropdown-cont li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1250px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;    
    }
}

@media (max-width: 690px) {
    
}

@media (max-width: 350px) {
    
}
